<!--Forgot Password Starts-->
<section id="forgot-password">
    <div class="container-fluid forgot-password-bg">
        <div class="row full-height-vh m-0  d-flex align-items-center justify-content-center">
            <div class="col-md-7 col-sm-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body fg-image">
                            <div class="row m-0">
                                <div class="col-lg-6 d-none d-lg-block text-center py-3">
                                    <img src="../../../../assets/img/gallery/forgot.png" alt="" class="img-fluid"
                                         width="300" height="230"/>
                                </div>

                                <div class="col-lg-6 col-md-12 bg-white px-4 pt-3">
                                    <form #f="ngForm" (ngSubmit)="resetAdminPassword()">
                                        <h4 class="card-title mb-2">{{"RESET_PASSWORD" | translate}}</h4>
                                        <p class="card-text mb-3">
                                            {{"PASS" | translate}}
                                        </p>
                                        <input type="password" class="form-control mb-3"
                                               placeholder="{{'NEW_PASSWORD' | translate}}" name="new" minlength="5"
                                               maxlength="35" [(ngModel)]="resetPassword.newPassword" #new="ngModel"
                                               required/>
                                        <span class="help-block" *ngIf="new?.touched && new?.errors?.required"
                                              style="color:red">
                                            <small>{{"THIS_FIELD_IS_REQUIRED*" | translate}}</small>
                                        </span>
                                        <span class="help-block" *ngIf="new?.dirty && new?.errors?.minlength">
                                            <small class="text-danger">{{"MIN_PASS" | translate}}</small>
                                        </span>
                                        <span class="help-block" *ngIf="new?.dirty && new?.errors?.maxlength">
                                            <small class="text-danger">{{"MAX_PASS" | translate}}</small>
                                        </span>
                                        <input type="password" class="form-control mb-3"
                                               placeholder="{{'CONFIRM_PASSWORD' | translate}}"
                                               name="conf" [(ngModel)]="resetPassword.confirmPassword" minlength="5"
                                               maxlength="35" required #conf="ngModel"/>
                                        <span class="help-block" *ngIf="conf?.touched && conf?.errors?.required"
                                              style="color:red">
                                            <small>{{"THIS_FIELD_IS_REQUIRED*" | translate}}</small>
                                        </span>
                                        <span class="help-block"
                                              *ngIf="conf?.dirty && resetPassword.confirmPassword !== resetPassword.newPassword"
                                              style="color:red">
                                            <small>{{"PASSWORD_DO_NOY_MATCH" | translate}}</small>
                                        </span>
                                        <div class="fg-actions d-flex justify-content-between">
                                            <div class="login-btn">
                                                <button type="button" class="btn btn-outline-primary"
                                                        routerLink="/login">
                                                    <a class="text-decoration-none">{{"BACK_TO_LOGIN" | translate}}</a>
                                                </button>
                                            </div>
                                            <div class="recover-pass">
                                                <button class="btn btn-primary" type="submit"
                                                        [disabled]="f.invalid || resetPassword.confirmPassword !== resetPassword.newPassword">
                                                    <a class="text-decoration-none text-white">
                                                        {{"SUBMIT" | translate}}
                                                    </a>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Forgot Password Ends-->
