<app-custom-loader *ngIf="isLoading"></app-custom-loader>
<div class="row text-left">
    <div class="col-12">
        <div class="card">
            <form #f="ngForm" (ngSubmit)="updateWorkingHours()">
                <div class="row text-left">
                    <div class="col-md-8 offset-md-2">
                        <div class="container">
                            <div class="content-header text-primary text-center">
                                {{ "STORE_TIME_SETTINGS" | translate }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-primary"></div>
                            <div class="col">
                                <section id="multiple-buttons">
                                    <div class="row text-left">
                                        <div class="col-sm-12 pull-right">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <button class="btn btn-raised add-button save-all"
                                                                    type="submit"
                                                                    [disabled]="workHours.startDeliveryFrom < 0 || workHours.startDeliveryFrom > 100">
                                                                <i class="ft-plus"></i>
                                                                &nbsp;
                                                                {{ "SAVE" | translate }}
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
<!--                        <div class="row">-->
<!--                            <div class="col-md-3" style="margin-left: 1em;">-->
<!--                                <label>{{"START_DELIVERY_FROM" | translate}}</label>-->
<!--                                <input type="number" class="form-control" name="startDeliveryFrom"-->
<!--                                       [(ngModel)]="workHours.startDeliveryFrom" min="0" max="100"/>-->
<!--                                <span class="help-block" *ngIf="workHours.startDeliveryFrom < 0">-->
<!--                                    <small class="text-danger">{{"START_FROM_START_ERROR_MESSAGE" | translate}}</small>-->
<!--                                </span>-->
<!--                                <span class="help-block" *ngIf="workHours.startDeliveryFrom > 100">-->
<!--                                    <small class="text-danger">{{"START_FROM_END_ERROR_MESSAGE" | translate}}</small>-->
<!--                                </span>-->
<!--                            </div>-->
<!--                        </div>-->
                        <div *ngFor="let data of workHours.deliveryTimeSlots; let i = index">
                            <div class="col">
                                <div class="card bg-success">
                                    <div class="card-content">
                                        <div class="px-3 py-3">
                                            <div class="media">
                                                <div class="media-body white text-left">
                                                    <h3>{{ data.date }}</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="container"
                                 *ngFor="let data of workHours.deliveryTimeSlots[i].timings;let j = index">
                                <div class="row">
                                    <div class="col-md-8">
                                        <p>{{ data.slot }}</p>
                                    </div>
                                    <div class="col-md-4">
                                        <ui-switch class="switch" [checked]="data.isOpen" (change)="data.isOpen = !data.isOpen">
                                        </ui-switch>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
