<div class="row text-left">
    <div class="col-sm-12">
        <div class="content-header text-center text-primary">{{!couponId ? ('ADD_COUPON'| translate) : ('EDIT_COUPON'| translate)}}</div>
    </div>
</div>
<app-custom-loader *ngIf="isLoading"></app-custom-loader>
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card ">
            <div class="card-header pb-2">
            </div>
            <div class="card-content">
                <div class="px-3">
                    <div class="form">
                        <form #f="ngForm" (ngSubmit)="checkOperationType()">
                            <div class="form-body">
                                <div class="form-group">
                                    <label for="couponCode">{{'COUPON_CODE'| translate}}</label>
                                    <input type="text" id="couponCode" class="form-control" name="copcode"
                                           [(ngModel)]="coupon.couponCode" #copcode="ngModel" required>
                                    <span class="help-block" *ngIf="copcode?.touched && copcode?.errors?.required"
                                          style="color:red">
                                        <small>{{'THIS_FIELD_IS_REQUIRED*'| translate}}</small>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <label for="projectinput8">{{'DESCRIPTION'| translate}}</label>
                                    <textarea id="projectinput8" rows="5" class="form-control" name="desc"
                                              [(ngModel)]="coupon.description" #desc="ngModel" required></textarea>
                                    <span class="help-block" *ngIf="desc?.touched && desc?.errors?.required"
                                          style="color:red">
                                        <small>{{'THIS_FIELD_IS_REQUIRED*'| translate}}</small>
                                    </span>
                                </div>

                                <div class="form-group">
                                    <label for="couponTypeField">{{'COUPON_TYPE'| translate}}</label>
                                    <select class="form-control" id="couponTypeField"
                                            [(ngModel)]="coupon.couponType"
                                            name="couponType" required #copType="ngModel">
                                        <option disabled>{{'SELECT_COUPON_TYPE'| translate}}</option>
                                        <option value="PERCENTAGE">{{'PERCENTAGE'| translate}}</option>
                                        <option value="AMOUNT">{{'AMOUNT'| translate}}</option>
                                    </select>
                                    <span class="help-block" *ngIf="copType?.touched && copType?.errors?.required"
                                          style="color:red">
                                        <small>{{'THIS_FIELD_IS_REQUIRED*'| translate}}</small>
                                    </span>
                                </div>

                                <div class="form-group">
                                    <label for="issueinput6"> {{'OFFER_PERCENTAGE_AMOUNT'| translate}}</label>
                                    <input type="number" min="0" id="issueinput6" class="form-control" name="title"
                                           [(ngModel)]="coupon.offerValue" #title="ngModel" required>
                                    <span class="help-block" *ngIf="title?.touched && title?.errors?.required"
                                          style="color:red">
                                        <small>{{'THIS_FIELD_IS_REQUIRED*'| translate}}</small>
                                    </span>
                                </div>

                                <div class="row text-left" matchHeight="card">
                                    <!--Datepicker in a popup starts-->
                                    <div class="col-md-12 col-lg-6">
                                        <div class="card">
                                            <label>{{'START_DATE'| translate}}</label>


                                            <form class="form-inline">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <input class="form-control" name="dp"
                                                               ngbDatepicker #d1="ngbDatepicker"
                                                               style=padding-right:16rem
                                                               [(ngModel)]="startDate" [minDate]="couponDate" #dp="ngModel">

                                                        <div class="input-group-append">
                                                            <div class="input-group-text" (click)="d1.toggle()">
                                                                <i class="fa fa-calendar" style="cursor: pointer;"></i>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                                <!-- <span class="help-block" *ngIf="dp?.touched && dp?.errors?.required" style="color:red">Please
                                                  select coupon start date*</span> -->
                                            </form>
                                        </div>
                                    </div>
                                    <!--Datepicker in a popup ends-->
                                </div>


                                <div class="row text-left" matchHeight="card" *ngIf="startDate">
                                    <!--Datepicker in a popup starts-->
                                    <div class="col-md-12 col-lg-6">
                                        <div class="card">
                                            <label>{{'EXPIRY_DATE'| translate}}</label>
                                            <form class="form-inline">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <input class="form-control" name="dp1"
                                                               ngbDatepicker #d2="ngbDatepicker"
                                                               style=padding-right:16rem
                                                               [(ngModel)]="endDate" [minDate]="startDate" #dp1="ngModel">

                                                        <div class="input-group-append">
                                                            <div class="input-group-text" (click)="d2.toggle()">
                                                                <i class="fa fa-calendar" style="cursor: pointer;"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <!--Datepicker in a popup ends-->
                                </div>
                            </div>

                            <div class=" form-actions">
                                <button type="submit" class="btn btn-raised btn-raised add-modules mr-2"
                                        [disabled]="f.invalid">
                                    <i class="fa fa-check-square-o"></i> {{'SUBMIT'| translate}}
                                </button>
                                <button type="button" routerLink="/coupons"
                                        class="btn btn-raised btn-raised btn-warning mr-1">
                                    <i class="ft-x"></i> {{'CANCEL'| translate}}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
