<div class="row text-left">
    <div class="col-sm-12">
        <div class="content-header text-center text-primary" translate>NOTIFICATIONS</div>
        <div class="content-header text-center info" translate>NOTIFICATION_INFO</div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card ">
            <div class="card-header pb-2">
            </div>
            <div class="card-content">
                <div class="px-3">
                    <div class="form">
                        <form (ngSubmit)="sendNotification(notificationForm)" #notificationForm="ngForm">
                            <div class="form-body">
                                <div class="form-group">
                                    <label translate>TITLE</label>
                                    <input class="form-control" type="text" name="title"
                                           [(ngModel)]="notificationData.title" required>
                                </div>
                                <div class="form-group">
                                    <label translate>DESCRIPTION</label>
                                    <textarea class="form-control" [rows]="3" name="desc"
                                              [(ngModel)]="notificationData.body" required>
                                    </textarea>
                                </div>
                            </div>

                            <div class=" form-actions">
                                <button type="submit" class="btn btn-raised btn-raised add-modules mr-2"
                                        [disabled]="notificationForm.invalid">
                                    <i class="fa fa-check-square-o"></i> {{'SUBMIT' | translate}}
                                </button>
                                <button type="button" class="btn btn-raised btn-raised btn-warning mr-1"
                                        routerLink="/dashboard">
                                    <i class="ft-x"></i> {{'CANCEL' | translate}}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
