.radio {
  width: 22px;
  margin-top: 28px;
}

.doctors-img {
  height: 150px;
  width: 150px;
}

.fa-plus {
  color: white;
}

.added-block {
  .btn {
    margin: 30px 0 0 14px;
  }

  .plus {
    margin: 30px 0px 0 46px;
  }
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
// .container input {
//   position: absolute;
//   opacity: 0;
//   cursor: pointer;
// }

// /* Create a custom radio button */
// .checkmark {
//   position: absolute;
//   top: 0;
//   left: 0;
//   height: 25px;
//   width: 25px;
//   background-color: #eee;
//   border-radius: 50%;
// }

// /* On mouse-over, add a grey background color */
// .container:hover input ~ .checkmark {
//   background-color: #ccc;
// }

// /* When the radio button is checked, add a blue background */
// .container input:checked ~ .checkmark {
//   background-color: #2196F3;
// }

// /* Create the indicator (the dot/circle - hidden when not checked) */
// .checkmark:after {
//   content: "";
//   position: absolute;
//   display: none;
// }

// /* Show the indicator (dot/circle) when checked */
// .container input:checked ~ .checkmark:after {
//   display: block;
// }

// /* Style the indicator (dot/circle) */
// .container .checkmark:after {
//      top: 9px;
//     left: 9px;
//     width: 8px;
//     height: 8px;
//     border-radius: 50%;
//     background: white;
// }
// .checkmark{
//     margin-top: 34px;;
// }

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 35px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: transparent;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.4);
  border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.danger-button {
  position: relative;
  right: 43px;
}

.button-upload {
  color: white !important;
}

.file-upload {
  position: absolute;
  left: 0;
  opacity: 0;
}

.preview-images-zone {
  width: 100%;
  border: 1px solid #ddd;
  min-height: 180px;
  /* display: flex; */
  padding: 5px 5px 0px 5px;
  position: relative;
  overflow: auto;
}

.preview-images-zone>.preview-image:first-child {
  height: 185px;
  width: 185px;
  position: relative;
  margin-right: 5px;
}

.preview-images-zone>.preview-image {
  height: 185px;
  width: 185px;
  position: relative;
  margin-right: 5px;
  float: left;
  margin-bottom: 5px;
}

.preview-images-zone>.preview-image>.image-zone {
  width: 100%;
  height: 100%;
}

.preview-images-zone>.preview-image>.image-zone>img {
  width: 100%;
  height: 100%;
}

.preview-images-zone>.preview-image>.tools-edit-image {
  position: absolute;
  z-index: 100;
  color: #fff;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  display: none;
}

.preview-images-zone>.preview-image>.image-cancel {
  font-size: 18px;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  margin-right: 10px;
  cursor: pointer;
  z-index: 100;
}

.preview-image:hover>.image-zone {
  cursor: move;
  opacity: .5;
}

.preview-image:hover>.tools-edit-image,
.preview-image:hover>.image-cancel {
  display: block;
}

.ui-sortable-helper {
  width: 90px !important;
  height: 90px !important;
}

.container {
  padding-top: 50px;
}